.floor {
	height: 300px;
	width: 300px;
	border: 1px black solid;
	padding-top: 200px;
	padding-left: 200px;
}
.footprint {
	height: 100px;
}

@-webkit-keyframes 'step' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes 'sway' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes 'walk-left' {
	0% {
		transform: translate(0px, 0px);
		opacity:1;
	}
	50% {
		opacity: 0;
	}
	100% {
		transform: translate(0px, -200px);
		opacity:1;
	}
}

@-webkit-keyframes 'walk-right' {
	0% {
		transform: translate(0px, 0px);
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100% {
		transform: translate(0px, -200px);
		opacity:1;
	}
}

@-webkit-keyframes 'backward' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes 'left' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes 'right' {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.walk-left {
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: walk-left;
    -webkit-animation-timing-function: linear;
}

.walk-right {
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    animation-delay: 0.75s;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    /*-webkit-animation-name: step;*/
    -webkit-animation-name: walk-right;
    -webkit-animation-timing-function: linear;   
}

.sway-left {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: sway;
    -webkit-animation-timing-function: ease-in-out;   
}

.sway-right {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    animation-delay: 1s;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: sway;
    -webkit-animation-timing-function: ease-in-out;   
}


